body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}
.Title{
    width: 100%;
    color: white;
    background-color: #006b09;
    border-bottom: 0.5vh solid #07b148;
}

.Title h1{
    font-family: "PT sans", sans-serif;
    font-size: 2rem;
    font-style: bold;
    margin: 1vh 0vw 0vw 1.5vh;
}

.Main{
    display: inline-block;
    width: 69%;
    min-height: 80vh;
    border: 0.5vh dashed #356949;
    border-bottom-color:- #07b148 ;
    border-radius: 1rem;

    margin: 1vw 0vw 1vw 0.5vw;

    box-shadow: 0.5em 1em 0.5em 0em rgba(64, 73, 59, 0.281);
    overflow-y: visible;
    overflow-x: hidden;
}


.Aside {
    display: inline-block;
    width: 25%;
    min-height: 80vh;
    border: 0.5vh dashed #356949;
    border-bottom-color:- #07b148;
    border-radius: 1rem;

    margin: 1vw 0.5vw 1vw 0.5vw;
    box-shadow: 0.5em 1em 0.5em 0em rgba(64, 73, 59, 0.281);
}

.Main h2, .Aside h2{
    font-family: "PT sans", sans-serif;
    font-size: 1.5rem;

    border-bottom: 0.25vh solid #07b148;
    margin: 1vw 0.5vw 1vw 0.5vw;
}

.Form{
    width: 100%;
}

.Form input{
    width: 90%;
    height: 2vh;

    border: none;
    border-bottom: 0.25vh solid black;
    background-color: transparent;

    margin: 1vh 1vw 1vh 1vw;
}
.Form label{
    margin-left: 1vw;
    font-family: "PT sans", sans-serif;
    font-size: 1.2rem;
}

#content{
    width: 90%;
    margin: 0vh 1vw 2vh 1vw; 
}

/* Создание - кнопка */
#createBtn{
    font-family: "PT sans", sans-serif;
    font-size: 1.2rem;

    width: 25%;
    height: 4vh;

    margin: 1vh 2vw 0vh 1vw;

    color: white;
    background-color: #006b09;

    border: none;
    border-radius: 0.5rem;
}

#createBtn:hover{
    font-family: "PT sans", sans-serif;
    font-size: 1.2rem;

    width: 25%;
    height: 4vh;

    margin: 1vh 2vw 0vh 1vw;

    color: white;
    background-color: #07b148;
    
    border: none;
    border-radius: 0.5rem;
}

.Archive h2{
    font-family: "PT sans", sans-serif;
    font-size: 1.5rem;

    border-bottom: 0.25vh solid #07b148;
    margin: 1.5vw 0.5vw 1vw 0.5vw;
}

.record{
    width: 95%;
    height: auto;

    margin: 2vh;
}

.record h1{
    font-family: "PT sans", sans-serif;
    font-size: 1.5rem;
    font-style: bold;

    margin-bottom: 2vh;
}

.record p{
    font-family: "PT sans", sans-serif;
    font-size: 1rem;
}
.record p span{
    font-family: "PT sans", sans-serif;
    font-size: 1rem;
    font-weight: bold;
}
.record button{
    display: inline;
    width: 4vw;
    height: 4vh;
    font-family: "PT sans", sans-serif;
    font-size: 1rem;
    color: white;

    border: none;
    border-radius: 0.5rem;

}

/* Кнопки */
.record #delete{
    position: relative;
    background-color: #cf3a15;
    right: -55vw;
}
.record #archive{
    position: relative;
    background-color: #A3AE9E;
    right: -56vw;
}

/* Архив - форма */
.archive_form_class{
    margin: 2vh 1vw 1vh 1vw;
}


.archive_form_class .customli{
    font-family: "PT sans", sans-serif;
    font-size: 1rem;
    width: 95%;
}

.Archive{
    display: inline-block;
    overflow-y: visible;
    width: 100%;
}

/* Дно */
.footer {
    width: 100%;
    margin-top: 50px;
    padding: 20px;
    border-top: 3px solid #3f473b;
}