body{
    display:block;
    margin: 0;
    padding: 0;
    /* flex-wrap: wrap; */
}
.Title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #006b09;
    border-bottom: 4px solid #07b148;
    padding: 10px 20px 0px;
    font-size: 36px;
    color: #fff;
    font-weight: 700;
}

.Title h1{
    font-family: "PT sans", sans-serif;
    font-size: 2rem;
    font-style: bold;
    margin: 1vh 0vw 0vw 1.5vh;
}
.body-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
}
.MainContent{
    display:inline-block;
    width: 70%;
    min-height: 80vh;
    border: 0.5vh dashed #356949;
    border-bottom-color:- #07b148 ;
    border-radius: 1rem;

    margin: 1vw;

    box-shadow: 0.5em 1em 0.5em 0em rgba(64, 73, 59, 0.281);
    overflow-y: visible;
    overflow-x: hidden;
}


.AsideContent {
    display: inline-block;
    width: 25%;
    min-height: 80vh;
    border: 0.5vh dashed #356949;
    border-bottom-color:- #07b148;
    border-radius: 1rem;
    padding-bottom: 1vh;

    margin-right: 0.5vw;
    margin-bottom: 1vw;
    margin-left: 0.5vw;
    overflow-y: visible;
    box-shadow: 0.5em 1em 0.5em 0em rgba(64, 73, 59, 0.281);
}

.MainContent h2, .AsideContent h2{
    font-family: "PT sans", sans-serif;
    font-size: 1.5rem;

    border-bottom: 0.25vh solid #07b148;
    margin: 1vw 0.5vw 1vw 0.5vw;
}

.Form{
    width: 100%;
}

.Form input{
    width: 90%;
    height: 2vh;

    border: none;
    border-bottom: 0.25vh solid black;
    background-color: transparent;

     margin: 0vh 1vw 2vh 1vw;
}
.Form label{
    margin-left: 1vw;
    font-family: "PT sans", sans-serif;
    font-size: 1.2rem;
}

#content{
    margin: 0vh 1vw 2vh 1vw; 
    width: 90%;
    visibility: inherit;
}

.articleclass {
    width: 100%;
}

#createBtn{
    font-family: "PT sans", sans-serif;
    font-size: 1.2rem;

    width: 25%;
    height: 4vh;

    margin: 1vh 2vw 0vh 1vw;

    color: white;
    background-color: #006b09;

    border: none;
    border-radius: 0.5rem;
}

#createBtn:hover{
    font-family: "PT sans", sans-serif;
    font-size: 1.2rem;

    width: 25%;
    height: 4vh;

    margin: 1vh 2vw 0vh 1vw;


    color: white;
    background-color: #07b148;

    border: none;
    border-radius: 0.5rem;
}

.Archive h2{
    font-family: "PT sans", sans-serif;
    font-size: 1.5rem;

    border-bottom: 0.25vh solid #07b148;
    margin: 1.5vw 0.5vw 1vw 0.5vw;
}

.customstate{
    display: inline-block;
    width: 95%;
    height: auto;
    
    margin: 2vh;
}

.customstate h1{
    font-family: "PT sans", sans-serif;
    font-size: 1.5rem;
    font-style: bold;

    margin-bottom: 2vh;
}

.customstate p{
    font-family: "PT sans", sans-serif;
    font-size: 1rem;
}
.customstate p span{
    font-family: "PT sans", sans-serif;
    font-size: 1rem;
    font-weight: bold;
}
.customstate button{
    display: inline;
    width: 5vw;
    height: 4vh;
    font-family: "PT sans", sans-serif;
    font-size: 1rem;
    color: white;

    border: none;
    border-radius: 0.5rem;

}
.customstate #delete{
    position: relative;
    background-color: #cf3a15;
    right: -55vw;
}
.customstate #archive{
    position: relative;
    background-color: #A3AE9E;
    right: -56vw;
}

.archiveclass{
    margin: 2vh 1vw 1vh 1vw;
    width: 5vw;
    height: 3vh;
}

.archiveclass .customli{
    font-family: "PT sans", sans-serif;
    font-size: 1rem;
}

.Archive{
    display: inline-block;
    overflow-y: visible;
}

.customstate .description {
    display: inline-block;
    min-height: 2.5vh;
    width: 100%;
}